.formulario{
    text-align: center;
    background-color: #D1D9DE;
    color:#404F68;
    font-size: 18px;
    

}

.for{
    position: relative;
    
    
}
.tituloform{
    margin-bottom: 0.5rem;
}

.boton{
  background-color: #404F68; 
  border: #404F68,solid;
  border-radius: 8px;
  color: #3aab87;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  position: relative;
  bottom: 4px;
 
}
.boton:hover{
    color:#D1D9DE;
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .boton{
        background-color: #404F68; 
          border: #404F68,solid;
          border-radius: 8px;
          color: #3aab87;
          padding: 5px 22px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 20px;
          position: relative;
          
    }
        }


@media screen and (min-width:481px) and (max-width:768px) {
            .boton{
                background-color: #404F68; 
                  border: #404F68,solid;
                  border-radius: 8px;
                  color: #3aab87;
                  padding: 5px 22px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 20px;
                  position: relative;
                  
            }
                }


@media screen and (min-width:300px) and (max-width:480px) {
            .boton{
                background-color: #404F68; 
                  border: #404F68,solid;
                  border-radius: 8px;
                  color: #3aab87;
                  padding: 5px 22px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 20px;
                  position: relative;
                  
            }
                }