.link{
    text-decoration: none;
    color: black;
}
.logo{
    position: absolute;
    top:15px;
    left: 10%;
    color: #d1d9de;
    font-size: 35px;
    
}
.formu{
    position: absolute;
    left: 45%;
    top:25px;
    color: #d1d9de;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
}
.formu:hover{
    color: #d1d9de;
}
.joda{
    position: absolute;
    left: 70%;
    top: 29px;
    color: #d1d9de;
    font-size: 24px;
    font-family: sans-serif;
}
.navbar{
    background-color:#404F68;
    height: 70px;
}

@media screen and (min-width:300px) and (max-width:480px) {
    .navbar{
        background-color:#404F68;
        height: 200px;
    }
    .logo{
        position: relative;
        top:-45px;
        left:60px;
        color: #d1d9de;
        font-size: 35px;
        
    }
    .formu{
        position: relative;
        
        left: -180px;
        top: 25px;
        color: #d1d9de;
        text-decoration: none;
        font-size: 25px;
        font-family: sans-serif;
    }
    .joda{
        position: relative;
        left: -150px;
        top: 25px;
        color: #d1d9de;
        font-size: 24px;
        font-family: sans-serif;
    }

}
@media screen and (min-width:481px) and (max-width:768px) {
    .navbar{
        background-color:#404F68;
        height: 170px;
    }
    .logo{
        position: relative;
        top:-45px;
        left:60px;
        color: #d1d9de;
        font-size: 35px;
        
    }
    .formu{
        position: relative;
        
        left: -180px;
        top: 25px;
        color: #d1d9de;
        text-decoration: none;
        font-size: 25px;
        font-family: sans-serif;
    }
    .joda{
        position: relative;
        left: -150px;
        top: 25px;
        color: #d1d9de;
        font-size: 24px;
        font-family: sans-serif;
    }

}
@media screen and (min-width:769px) and (max-width:1024px) {
    .navbar{
        background-color:#404F68;
        height: 100px;
    }
    .logo{
        position: absolute;
        top:15px;
        left:5%;
        color: #d1d9de;
        font-size: 35px;
        
    }
    .formu{
        position: absolute;
        
        left: 45%;
        top: 25px;
        color: #d1d9de;
        text-decoration: none;
        font-size: 25px;
        font-family: sans-serif;
    }
    .joda{
        position: absolute;
        left: 70%;
        top: 28px;
        color: #d1d9de;
        font-size: 24px;
        font-family: sans-serif;
    }

}