.link{
    text-decoration: none;
    color: black;
}
.logo{
    position: absolute;
    top:15px;
    left: 10%;
    color: #d1d9de;
    font-size: 35px;
    
}
.formu{
    position: absolute;
    left: 45%;
    top:22px;
    color: #d1d9de;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
}
.formu:hover{
    color: #d1d9de;
}
.joda{
    position: absolute;
    left: 70%;
    top: 26px;
    color: #d1d9de;
    font-size: 24px;
    font-family: sans-serif;
}
.navbar{
    background-color:#404F68;
    height: 70px;
}

@media screen and (min-width:300px) and (max-width:480px) {
    .navbar{
        background-color:#404F68;
        height: 80px;
        
    }
    .logo{
        position: relative;
        top:10%;
        left:10%;
        color: #d1d9de;
        font-size: 25px;
        
    }
    .formu{
        position: relative;
        left: 37%;
        bottom: 0%;
        color: #d1d9de;
        text-decoration: none;
        font-size: 11px;
        font-family: sans-serif;
    }
    .joda{
        position: relative;
        left: 6%;
        top: -40%;
        color: #d1d9de;
        font-size: 11px;
        font-family: sans-serif;
    }

}
@media screen and (min-width:481px) and (max-width:768px) {
    .navbar{
        background-color:#404F68;
        height: 170px;
    }
    .logo{
        position: absolute;
        top:10%;
        left:30%;
        color: #d1d9de;
        font-size: 35px;
        
    }
    .formu{
        position: absolute;
        
        left: 10%;
        top: 50%;
        color: #d1d9de;
        text-decoration: none;
        font-size: 25px;
        font-family: sans-serif;
    }
    .joda{
        position: absolute;
        left: 60%;
        top: 52%;
        color: #d1d9de;
        font-size: 24px;
        font-family: sans-serif;
    }

}
@media screen and (min-width:769px) and (max-width:1024px) {
    .navbar{
        background-color:#404F68;
        height: 100px;
    }
    .logo{
        position: absolute;
        top:15px;
        left:5%;
        color: #d1d9de;
        font-size: 35px;
        
    }
    .formu{
        position: absolute;
        
        left: 45%;
        top: 25px;
        color: #d1d9de;
        text-decoration: none;
        font-size: 25px;
        font-family: sans-serif;
    }
    .joda{
        position: absolute;
        left: 70%;
        top: 28px;
        color: #d1d9de;
        font-size: 24px;
        font-family: sans-serif;
    }

}